	<div class="container-fluid">
		<div class="card bg-light mb-3">
			<div class="card-header">
				<h4>Prueba Luis Miguel Mora</h4>
				<div class="text-right">
				<button type="button" class="btn btn-primary btn-sm crear" data-toggle="modal" data-target="#form">Crear</button>
				</div>
			</div>
			<div class="card-body">
				<div id="msg_error"></div>
				<h5 class="card-title">Productos</h5>
				<p class="card-text">Lista de productos.</p>

				<app-resumen></app-resumen>
				<app-listaproductos></app-listaproductos>

			</div>
		</div>
	</div>

	<!-- modal para los formularios -->
	<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="form" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="viewPorductoLabel">Administrar Producto</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div *ngIf="msg_error_text"></div>
					<form [formGroup]="formProducto" novalidate (ngSubmit)="actualizar()">
						<input type="hidden" id="id">
						<div class="row justify-content-center">
							<div class="col-12 form-group">
								<label for="producto">(*)Producto:</label>
								<input 
									type="text" 
									formControlName="nombre" 
									class="form-control" 
									placeholder="Producto"
									required
								>
							</div>
							<div class="col-12 form-group">
								<label for="descripcion">(*)Descripción:</label>
								<input 
									type="text" 
									formControlName="descripcion" 
									class="form-control" 
									placeholder="Descripción"
									required
								>
							</div>
							<div class="col-12 form-group">
								<label for="codigo">(*)Código:</label>
								<input 
									type="text" 
									formControlName="codigo" 
									class="form-control" 
									placeholder="Código"
									required
								>
							</div>
							<div class="col-12 form-group">
								<label for="existencias">(*)Existencias:</label>
								<input 
									type="number" 
									formControlName="existencias" 
									class="form-control" 
									placeholder="Existencias" 
									min="0"
									required
								>
							</div>
							<div class="col-12 form-group">
								<label for="bodega">(*)Bodega:</label>
								<select 
									formControlName="id_bodega" 
									class="form-control" 
									placeholder="Bodega"
									required
								>
									<option value="" selected="selected" disabled="disabled">Seleccione</option>
								</select>
							</div>
							<div class="col-12 form-group text-center">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button 
						type="button" 
						class="btn btn-primary text-right" 
						(click)="actualizar()"
						[disabled]="formProducto.invalid"
						data-toggle="modal" 
						data-target="#exampleModal"
					>Guardar</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="estado" tabindex="-1" role="dialog" aria-labelledby="estado" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="viewPorductoLabel">Cambiar estado</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="msg_error"></div>
					<form [formGroup]="formEstado" novalidate (ngSubmit)="actualizar_estado()">
						<input 
							type="text"
							formControlName="id_producto"
							required
						>
						<div class="row justify-content-center">
							<div class="col-12 form-group">
								<label for="estado_producto">(*)Estado:</label>
								<select 
									formControlName="estado"
									class="form-control" 
									placeholder="Estado"
									required
								>
									<option value="" selected="selected" disabled="disabled">Seleccione</option>
								</select>
							</div>
							<div class="col-12 form-group text-center">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button 
						type="button" 
						class="btn btn-primary text-right" 
						id="actualizar_estado"
						(click)="actualizar_estado()"
						[disabled]="formProducto.invalid"
					>Guardar</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- <script type="text/javascript" src="libs/jquery.js"></script>
	<script type="text/javascript" src="libs/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="libs/bootstrap/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="libs/bootstrap/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" src="libs/script.js"></script> -->
